
h4{
    color: aqua;
    background-color: darkmagenta;
    font-size: 33px;
}



h6{
    color: forestgreen;
    background-color: darkslategrey;
}
.heading1{
    color: crimson;
    background-color: black;
}
.para{
    color: darkorange;
    background-color: bisque;
}
#head2{
    color: chocolate;
    background-color: aqua;
}
.head2{
    color: blue;
    background-color: bisque;
}
.head_index{
    color: cornflowerblue;
}
.head_size{
    color: cornflowerblue;
}
#head_about{
    color: chocolate;
}
.t_transform_upper{
    text-transform: uppercase;
}
.t_transform_lower{
    text-transform: lowercase;
}
.t_transform_capitalize{
    text-transform: capitalize;
}
.t_center{
    text-align: center;
}
.t_decor_underline{
    text-decoration: underline;
}
.t_decor_overline{
    text-decoration: overline;
}
.t_decor_all{
    text-decoration: underline overline line-through;
}
.text_indent{
    text-indent: 300px;
    color: green;
    
}
.t_letter_space{
    letter-spacing: 5px;
}
.t_word_space{
    word-spacing: 40px;
}
.t_para_line_hight{
    line-height: 70px;
}
.t_shadow{
    color: darkblue;
    text-shadow: 1px 3px 2px chocolate;
    font-size: 50px;
}
.t_shadow2{
    color: darkmagenta;
    text-shadow: 1px 3px 2px rgb(70, 37, 3);
    font-size: 60px;
}
.img_b_shadow{
 box-shadow: 8px 6px 6px crimson;
 
}
.img_d_shadow{
    filter: drop-shadow(5px 6px 7px red)
    
}
.img_border{
    border: 12px solid crimson;
     border-top-color: blue;
    border-right-color: coral;
    border-bottom-color: darkgreen;
}
.img_border2{
    border: dashed  blue;
}
.img_border3{
    border: 40px;
    border-top-color: blue;
    border-right-color: coral;
    border-bottom-color: darkgreen;
}
.b_model{
    font-size: 20px;
    border: 4px solid red;
    padding: 30px;
   padding-bottom: 50px;
    padding-right: 60px;
    padding-left: 30px;
    margin: 100px;
}
.f_family{
    font-family:fantasy;
}
.f_family2{
    font-family: monospace;
}
.f_weight{
    font-weight: 100;
    font-size: 50px;
}
.bglinear{
    font-size: 200px;
    height: 467px;
    background: linear-gradient(red,yellow,green);
}
.bglinear2{
    font-size: 100px;
    height: 333px ;
    background:radial-gradient(black,yellow,green) ;
}
.bgconic{
    font-family: 222px;
    height:500 ;
    background:conic-gradient(from 90deg,red,green,red);
}
    
    

h1{
    font-size: 50px;
    color: black;
    padding: 30px;
    margin: 30px;
}
.box{
    width: 250px;
    height: 200px;
    border: 5px solid red;
    background-color: blueviolet;
    font-size: 20px;
    
}
.box1{
    position: static;

}
.box2{
    position: relative;
    top: 30px;
    left: 300px;
}
.box3{
    position: absolute;
    top: 30px;
    left: 300px;

}
.box4{
    position: sticky;
    top: 30px;

}
.box5{
    position: fixed;
    bottom: 0px;
    right: 30px;
}
.flex_item{
    background-color: blueviolet;
    width: 200px;
    height: 200px;
    font-size: 40px;
    margin: 10px;
    padding: 10pxs;
}
.flex_container{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
.flex_container2{
     list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
}
h1:hover{
    color: aqua;
    background-color: bisque;
    font-size:70px;
    text-shadow: 5px 5px 2px red;
}
.heading_1:hover{
    color: blueviolet;
}
h3:active{
    color: chocolate;
    font-size: 60px;
    font-family: cursive;
    cursor: pointer;
}
input:focus{
    background-color: cyan;
    color: brown;
    border: 7px solid yellow;
}
a:visited{
    color: blueviolet;
}
p::first-letter{
    color: crimson;
    font-size: 40px;
}
p::first-line{
    color: darkblue;
}
.contaner{
     list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:space-between;
}
.box{
    background-color: brown;
    border-radius: 20px;
    height: 150px;
    width: 150px;
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: transform 1s linear 500ms ;

}
    
.box99:hover{
    transform: translate(125px, 125px);
}
.box33:hover{
    transform: rotate(720deg);
}
.box22:hover{
    transform: translateX(20px);
}
.img_wrapper{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(160, 58, 58);
    position: relative;
    overflow: hidden;
    
}
.inner_img{
    width: 100%;
    height: 100%;
    transition: 4s;
    justify-content: center;
    object-fit: cover;
}
.inner_img:hover{
    transform: scale(2);
}

ul{
    color: black;
    width: 200px;
    padding: 10px;
    list-style: none;
    font-weight: 900;
}

li{
    padding: 10px;
    border: 2px solid rgb(61, 167, 167);
    margin-bottom: 10px;
    border-radius: 10px;
}
/*li:nth-child(odd){
    background-color: darkgoldenrod;
}
li:nth-child(even){
    background-color: darkolivegreen;
}*/

li:first-child{
    background-color: rgb(141, 76, 169);

}
li:last-child{
    background-color: rgb(160, 150, 66);
}

li:nth-child(4){
    background-color: lightpink;
}

.animation{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: chartreuse;
    position: relative;
    animation: movingbox;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: alternate;
}

@keyframes movingbox{
    0%{background-color: red;left: 0px;top: 0px}
    25%{background-color: blue;left: 300px;top: 0px}
    50%{background-color: chartreuse;left: 300px;top: 300px}
    75%{background-color: chocolate;left: 0px;top: 300px}
   100%{background-color:chocolate;left: 0px;top: 0px}

}
.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 60px;
    font-weight: 800;
    perspective: 100px;

}

.text-container > b{
    height:80px ;
    box-shadow: opx 20px 10px gray;
    background: linear-gradient( to right,red,orange,yellow,black);
    background-clip: text;
    color: transparent;
    transform-origin: bottom;
 }

.text-container >b:nth-child(1){animation-delay: 0.5s ;}

.text-container >b:nth-child(2){animation-delay: 0.10s ;}

.text-container >b:nth-child(3){animation-delay: 0.15s ;}

.text-container >b:nth-child(4){animation-delay: 0.20s ;}

.text-container >b:nth-child(5){animation-delay: 0.25s ;}

.text-container >b:nth-child(6){animation-delay: 0.30s ;}

.text-container >b:nth-child(7){animation-delay: 0.36s ;}

@keyframes getupdown{
    form{transform: rotateX(-85deg);}
    10%,50%{transform: rotateX(0);}
    60%,to{transform: rotateX(-85deg);}
}

@media only screen and(min-width:320px)and(max-width:767px){
   
    
}

@media(min-width:340px){





}







